<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droneapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.wifi" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Connection Activity -->
        <activity
            android:name=".ConnectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/connection_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Camera Activity -->
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:label="@string/camera_title"
            android:theme="@style/AppTheme.Fullscreen"
            android:parentActivityName=".ConnectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConnectionActivity" />
        </activity>

        <!-- Camera Settings Activity -->
        <activity
            android:name=".CameraSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/settings_title"
            android:parentActivityName=".CameraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CameraActivity" />
        </activity>

        <!-- Gallery Activity -->
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/gallery_title"
            android:parentActivityName=".CameraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CameraActivity" />
        </activity>

    </application>

</manifest>

